defaults: &DEFAULTS
  adapter : mysql2
  database: zeldamaps
  encoding: utf8
  port-disabled: 3306
  socket  : /var/run/mysqld/mysqld.sock
  username: zeldamaps-manage

development:
  <<: *DEFAULTS
  password: ...

production:
  <<: *DEFAULTS
  password: ...
