defaults: &DEFAULTS
  adapter: mysql2
  database: zeldamaps
  username: zeldamaps-manage
  encoding: utf8
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *DEFAULTS
  password: ...

production:
  <<: *DEFAULTS
  password: ...
