# User-specific runtime files
## Environment Files
/.env
/dev/server/nginx/site.conf
/dev/server/nginx/root.conf
/dev/db/config.yml
/dev/db/samples/*-01-structure_to-remove-AI.sql
/dev/db/samples/*-02-structure_AI-removed.sql
/dev/db/samples/*-03-sanitizedPartialUserData.txt
/dev/db/samples/*-04-devUserData.sql
/dev/assets/tiles/**/*.png
/dev/assets/tiles/**/Trials

# Cached Files / Runtime-updated Files
/ajax/libs
/ajax/static
/cache/*
!/cache/index.html
/tmp

/css.ini
/javascript.ini

## OS Files
.DS_Store
Thumbs.db

# Downloaded dependencies
node_modules
/tiles
/vendor

# Debug Files
/php_errors.log
/phpinfo.php

# Extra Files
## Part of the database migration framework we're using that could be useful, just not right now.
/dev/db/schema.rb
/dev/db/samples/zeldamaps-*
/dev/db/samples/tingle-*
*.sublime-workspace
*.bak
