# User-specific runtime files
# Environment Files
.env
ZM_nginx.conf
dev/db/config.yml

# Cached Files / Runtime-updated Files
cache/*
!cache/index.html

css.ini
javascript.ini

# Downloaded dependencies
node_modules
tiles
vendor

# Debug Files
php_errors.log
phpinfo.php

# Erroneous Files

# Part of the database migration framework we're using that could be useful, just not right now.
dev/db/schema.rb
*.sublime-workspace
