@font-face {
   font-family: HyliaSerif;
   src: url("fonts/HyliaSerifBeta-Regular.otf") format("opentype");
}

.leaflet-control-zoom-fullscreen { background-image: url(icon-fullscreen.png); }
.leaflet-control-zoom-fullscreen.last { margin-top: 5px }

body {
	padding: 0;
	margin: 0;
    overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

html, body, #map {
	height: 100%;
	background-color: #565656;/*#DEECFD;/*rgb(222, 236, 253); /*#deecfd;*/
}

.labelIcon {
	margin-left: -60px !important;
	margin-top: -24px !important;
	cursor: default !important;
}

.labelContainer {
	width: 121px !important;
	height: 49px !important;
}

.labelText {
	width: 100px;
	margin-left: 10px;
	padding-top: 15px !important;
	font-family: HyliaSerif, Verdana, Arial, sans-serif; 
	font-size: 16px;
   letter-spacing: 3px;
   color: white;
	text-align: center;
	vertical-align: middle;
}

.unslider-arrow {
    display: block;
    top: 50%;
    right: -50px;
    left: auto;
    margin-top: -16px;
    overflow: hidden;
    width: 9px;
    height: 15px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAPCAMAAAABFhU/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAwBQTFRFUVFRoqKisbGxioqKpqampKSk19fX0dHRZWVlcnJyvLy8urq6t7e3ra2tn5+fbm5uampqiIiI/f39+fn5jo6OW1tbgICA5OTke3t7X19f9/f3j4+P2dnZXFxc2traYWFh29vbYmJi4ODg+vr639/fg4OD+/v7U1NTVlZWUlJSzc3NwMDAkJCQ4+PjhoaGgYGBVFRU/v7+YGBghYWF4uLibGxsxMTEXV1d4eHhrq6u/Pz8+Pj4eXl59fX1qKio8fHxVVVV09PTWFhYcXFx5eXlWlpa9PT0s7OzcHBwjIyMnJycfX19hISEkpKSk5OT9vb2dHR0xcXFyMjI7e3twsLC3Nzc6Ojovr6+8/Pz6urqWVlZtLS0r6+vf39/Y2NjbW1t6enp3t7eenp6xsbG7+/vzMzMz8/P8PDw1dXVlJSUubm5srKy5ubmysrKwcHBq6urkZGR2NjYtbW1V1dX6+vrm5ub5+fnh4eHl5eXgoKCoaGh0tLS8vLyZmZm7u7u////gICAgYGBgoKCg4ODhISEhYWFhoaGh4eHiIiIiYmJioqKi4uLjIyMjY2Njo6Oj4+PkJCQkZGRkpKSk5OTlJSUlZWVlpaWl5eXmJiYmZmZmpqam5ubnJycnZ2dnp6en5+foKCgoaGhoqKio6OjpKSkpaWlpqamp6enqKioqampqqqqq6urrKysra2trq6ur6+vsLCwsbGxsrKys7OztLS0tbW1tra2t7e3uLi4ubm5urq6u7u7vLy8vb29vr6+v7+/wMDAwcHBwsLCw8PDxMTExcXFxsbGx8fHyMjIycnJysrKy8vLzMzMzc3Nzs7Oz8/P0NDQ0dHR0tLS09PT1NTU1dXV1tbW19fX2NjY2dnZ2tra29vb3Nzc3d3d3t7e39/f4ODg4eHh4uLi4+Pj5OTk5eXl5ubm5+fn6Ojo6enp6urq6+vr7Ozs7e3t7u7u7+/v8PDw8fHx8vLy8/Pz9PT09fX19vb29/f3+Pj4+fn5+vr6+/v7/Pz8/f39/v7+////gJJorQAAAIB0Uk5T/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////wA4BUtnAAAANElEQVR42lTOsQ0AMAwCwd/8h2OxNIEo3ckyxpioKsklKbHEEksssfxn21t2917H690vZwDJGVSCRUTBdwAAAABJRU5ErkJggg==);;
    /*
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, .2) no-repeat 50% 50%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==');
    border-radius: 32px;
    background-size: 7px 11px;
    
    */
    transition: opacity .2s;
    
    text-indent: -999em;
    opacity: .6;
    
}

.unslider-arrow.next {
    left: auto;
    right: 6px !important;
}

.unslider-arrow.prev {
    left: 6px !important;
    right: auto;
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.unslider-arrow:hover {
    opacity: 1;
}

.unslider-arrow.prev {
    left: -50px;
    right: auto;
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.leaflet-right .leaflet-control .leaflet-control-toolbar ul[class^='leaflet-toolbar-'] {
	left: auto !important;
	right: 26px !important;
}

.icn a { opacity: 1 }

.icnChecked a { opacity: 0.25 }


.credits .leaflet-popup-tip-container { display: none; }


#logoContainer {
  position: absolute;
  z-index: 999;
  top: 5px;
  left: 5px;
  width: 200px;
  height: 100px;
}
#mobileAds {
  position: absolute;
  z-index: 999;
  bottom: 92px;
  left: 8px;
  right: 8px;
  height: 50px;
  width: auto;
}
#desktopAds {
  position: absolute;
  z-index: 999;
  bottom: 16px;
  height: 90px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
iframe::-webkit-scrollbar {  
    display: none;
}  
iframe {
  overflow:hidden;
}

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
   border-bottom: transparent 30px;
   border-collapse: separate;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
   
}
.divTableCell, .divTableHead {
	/*border: 1px solid #999999;*/
	display: table-cell;
}
.divTableHeading {
	/*background-color: #EEE;*/
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	/*background-color: #EEE;*/
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.divTableCell img {
   vertical-align: middle;
}  

.divTableHead img {
   vertical-align: middle;
}  

.divTableHead {
   display: table-caption;
   text-align: center;
   margin-bottom: 2px;
   font-weight: bold;
}


/* ZU */



.leaflet-toolbar-0 {
   /*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);*/
   box-shadow: none !important;
}  


.leaflet-control-toolbar > li:last-child > .leaflet-toolbar-icon {
   border-bottom-width: 1px !important;
}

.leaflet-control-toolbar > li > .leaflet-toolbar-icon {
    border-radius: 4px !important;
    
}

.leaflet-toolbar-0 > li > .leaflet-toolbar-icon {
   margin-bottom: 5px;
   background-color: #6a6869;
   color: white;
   width: 30px;
   height: 30px;
   line-height: 30px;
}

[class^="icon-"], [class*=" icon-"] {
   vertical-align: middle;
   text-align:center;
}

.leaflet-toolbar-0 > li > .leaflet-toolbar-icon > span {
   font-size: 26px;
}

.leaflet-toolbar-1 > li > .leaflet-toolbar-icon > span {
   font-size: 26px;
}

.leaflet-control-toolbar .leaflet-toolbar-1 > li:last-child > .leaflet-toolbar-icon {
   margin-right: 5px;
}

.leaflet-control-toolbar .leaflet-toolbar-1 > li > .leaflet-toolbar-icon {
   margin-left: 5px;
   padding-left: 0px;
   padding-right: 0px;
   border-radius: 4px;
   padding-top: 0px;
   padding-bottom: 0px;
   text-align: center;
   width: 30px;
   height: 30px;
   line-height: 30px;
}


.leaflet-toolbar-0 > li > .leaflet-toolbar-icon:hover {
  background-color: #f4f4f4;
  color: black;
}

.leaflet-control-toolbar .leaflet-toolbar-1 {
   left: 30px;
}

.leaflet-control-toolbar .leaflet-toolbar-1 > li > .leaflet-toolbar-icon:hover {
  background-color: #f4f4f4;
  color: black;
}

.leaflet-control-toolbar .leaflet-toolbar-1 > li > .leaflet-toolbar-icon {
   background-color: #6a6869;
   /* border-left: 1px solid #aaa; */
   border-left: none;
   border-bottom: 1px solid #ccc;
   height: 30px;
}


.leaflet-touch .leaflet-control-zoom-in {
   margin-bottom: 5px;
   border-radius: 4px;
}

.leaflet-touch .leaflet-control-zoom-out {
   border-radius: 4px;
   
}

.leaflet-bar a {
   box-shadow: 0 3px 14px rgba(0,0,0,0.4) !important;
   border: 0;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
   
}

.leaflet-bar a {
   background-color: #333;
}

.leaflet-bar a {
   color: whitesmoke;
}

.leaflet-bar a:hover {
   color: black;
}

.infoWindowIcn {
   cursor: pointer;
   margin-left: 5px;
}


.leaflet-touch .leaflet-control-layers-toggle {
   border-radius: 4px;
   background-color: #6a6869;
   width: 30px; 
   height: 30px;
   border-bottom: 1px solid #ccc;
   background-size: 20px 20px;
   background-repeat: no-repeat;
}

.map-icon-svg  {
   /*font-size: 28px; /*32px;*/
   color: white;
   font-family: HyliaSerif; 
   
}

.icon-Button {
   color: blue;
   position: absolute;  
   /*text-shadow: 0px 4px 4px;*/
}

.icon-marker {
   font-size: 18px; /*22px;*/
   top: 5px;
   left: 5px;
}

.leaflet-menu::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background: #f2f2f2;
}

.leaflet-menu::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: #777;
}


/* Sliding Menu */
.leaflet-menu {
   background-color: #e8ecec;
}

.leaflet-menu-ul {
   margin-bottom:0 px;
   padding-left: 20px;
   opacity: inherit;
}

hr {
   margin: 0px;
}

.leaflet-menu-contents {
   clear: none !important;
}

.leaflet-menu-close-button:hover {
   /*color: gray;*/
}

.leaflet-menu-ul > li {
   display: inline-block;
   width: 60px;
   text-align: center;
   vertical-align: top;
}

.leaflet-menu-icon {
   background-color: #6a6869;
   /* border-left: 1px solid #aaa; */
   border-left: none;
   border-bottom: 1px solid #ccc;
   color: white;   
   width: 36px;
   height: 36px;
   line-height: 36px;
   padding: 5px;
   border-right: 0;
   text-align: center;
   text-decoration: none;
   font-size: 26px;
   border-radius: 4px;
}

.leaflet-menu-a > p {
   font-size: 10px;
   margin-top: 5px;
   line-height: 100%;
   color: #686b6d;
   opacity: inherit;
}

.leaflet-menu-a:hover > p {
   color: black;
}


.leaflet-menu-ul > li > a > br {
   line-height: 2 ;
}

.leaflet-menu-a:hover > .leaflet-menu-icon {
   background-color: black;
}

.leaflet-menu-a {
   text-decoration: none;
   color: #686b6d;
}

.leaflet-menu > .leaflet-menu-contents > h2 {
   vertical-align: middle;
   line-height: normal;
   font-size: 20px;
}

.leaflet-menu > .leaflet-menu-contents > h2 > span {
   vertical-align: middle;
   line-height: normal;
   font-size: 20px;
}

.catTitle {
   width: 150px;
   text-align: left;
   padding-left: 15px;
   height: 36px;
   line-height: 36px;
   font-family: HyliaSerif, Verdana, Arial, sans-serif;
   font-size: 16px;
   padding: 0px;
   margin: 0px 0px 0px 15px;
}

/**** POPUP ****/
.leaflet-popup-content-wrapper {
   background-color: rgba(0,0,0,0.5);
   color: white;
}

.leaflet-popup-content {
   margin-top: 0px;
   margin-right: 10px;
   margin-bottom: 13px;
   margin-left: 10px;
   border: 0px;
}

.multiTab .leaflet-popup-content-wrapper .leaflet-popup-content {
   margin-right: 20px;
   margin-bottom: 5px;
   margin-left: 20px;
   
}

.leaflet-container a.leaflet-popup-close-button {
   /*right: 0px;
   left: 10px;
   font-size: 30px;
   top: 7px;
   */
   color: white !important;
   z-index: 999
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
   background-color: rgba(80,80,80, 0.5);
   box-shadow: none;
}

.popupTitle {
   margin-bottom: 5px;
   margin-top:0px;
   font-family: HyliaSerif, Verdana, Arial, sans-serif;
   font-size: 26px;
   text-align: center;
   font-weight: normal;
}

.popupContent {
   border-radius: 10px;
   background-color: rgb(80,80,80) ;
   overflow: hidden;
}

.popupContent p {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: whitesmoke;
}
.popupContent p img {
   color: whitesmoke;
}
.popupContent div img {
   max-width: 400px;
   height: auto;
}
.unslider-nav {
    margin-top: 5px;
}

/** CREDITS **/
.control-window {
   background-color: rgba(80,80,80, 0.5);
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 10px;
}

.control-window .titlebar {
   padding: 0px;
   color: white;
   font-family: HyliaSerif, Verdana, Arial, sans-serif; 
}
.control-window .title {
   text-align: center;
}
.control-window h2 {
   margin: 0px;
   margin-top: 5px;
   margin-bottom: 5px;
   padding: 0px;
   font-weight: normal;
}
.control-window .content {
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   background-color: rgb(80,80,80) ;
   overflow: hidden;
   opacity: 1;
   font-size: 12px;
   color: whitesmoke;   
   /*overflow: auto;*/
}

::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background: #f2f2f2;
}

::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: #777;
}

.control-window .promptButtons {
   margin: 0px;
   margin-bottom: 10px;
   padding: 0px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;   
   background-color: rgb(80,80,80) ;
   color: whitesmoke;
}

.leaflet-control-window button {
   opacity: 0.8;
   font-size
}

.easy-button-button {
   background-color: #6a6869 !important;
   color: whitesmoke !important;
   border-bottom: 1px solid #ccc !important;
}
.easy-button-button:hover {
  background-color: #f4f4f4 !important;
  color: black !important;
}

/*** SEARCH ***/
.leaflet-control-search .search-tooltip {
   margin: 0px;
}

.leaflet-control-search .search-button {
   width: 30px;
   height: 30px;
   background: url(http://labs.easyblog.it/maps/leaflet-search/images/search-icon.png) no-repeat 4px 4px #fff;
   color: whitesmoke !important;

   
}
.leaflet-container .leaflet-control-search {
   box-shadow: none;
   border-bottom: 1px solid #ccc !important;
}

.leaflet-control-search .search-button:hover {
   background: url(http://labs.easyblog.it/maps/leaflet-search/images/search-icon.png) no-repeat 4px -20px #fafafa;
 }
 
 .leaflet-control-search .search-input {
   height: 22px;
 }
 
 .leaflet-control-search .search-tip {
   overflow: hidden;
 }
 
 .leaflet-control-search .search-cancel {
   right: 28px;
   margin: 5px 0;
 }

 .completeMarker {
    font-size: 18px !important;
    position: absolute !important;
    left: 12px;
    top: 12px;
    color: gold !important;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
 }
 
 .circleMap {
	width: 26px !important;
	height: 26px !important;
	line-height: 24px !important;
 }
 
 
 .leaflet-control-zoom  {
    border: 0px !important;
 }