@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3m8qpl');
  src:  url('fonts/icomoon.eot?3m8qpl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3m8qpl') format('truetype'),
    url('fonts/icomoon.woff?3m8qpl') format('woff'),
    url('fonts/icomoon.svg?3m8qpl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-General_Store:before {
  content: "\e900";
}
.icon-General_Heart:before {
  content: "\f004";
}
.icon-General_Map:before {
  content: "\e928";
}
.icon-Links-Awakening:before {
  content: "\e927";
}
.icon-Breath-of-the-Wild:before {
  content: "\e92e";
}
.icon-General_Bottle:before {
  content: "\e92f";
}
.icon-LA_Secret-Seashell:before {
  content: "\e930";
}
.icon-General_Key:before {
  content: "\e931";
}
.icon-BotW_Armor:before {
  content: "\e901";
}
.icon-BotW_Beef:before {
  content: "\e902";
}
.icon-BotW_Blupee:before {
  content: "\e903";
}
.icon-BotW_Boss:before {
  content: "\e904";
}
.icon-BotW_Bow-n-Arrows:before {
  content: "\e905";
}
.icon-BotW_Dungeon:before {
  content: "\e906";
}
.icon-BotW_Enemies:before {
  content: "\e907";
}
.icon-BotW_Enemy-Camp:before {
  content: "\e908";
}
.icon-BotW_Equipment:before {
  content: "\e909";
}
.icon-BotW_Fish:before {
  content: "\e90a";
}
.icon-BotW_Food-n-Materials:before {
  content: "\e90b";
}
.icon-BotW_Great-Fairy:before {
  content: "\e90c";
}
.icon-BotW_Guardian:before {
  content: "\e90d";
}
.icon-BotW_Herbs:before {
  content: "\e90e";
}
.icon-BotW_Items:before {
  content: "\e90f";
}
.icon-BotW_Korok-Seeds:before {
  content: "\e910";
}
.icon-BotW_Locations:before {
  content: "\e911";
}
.icon-BotW_Memories:before {
  content: "\e912";
}
.icon-BotW_Mini-Game:before {
  content: "\e913";
}
.icon-BotW_Mushrooms:before {
  content: "\e914";
}
.icon-BotW_Points-of-Interest:before {
  content: "\e915";
}
.icon-BotW_Sheikah-Tower:before {
  content: "\e916";
}
.icon-BotW_Shields:before {
  content: "\e917";
}
.icon-BotW_Shrine-Quest:before {
  content: "\e918";
}
.icon-BotW_Shrines-of-Trials:before {
  content: "\e919";
}
.icon-BotW_Side-Quest:before {
  content: "\e91a";
}
.icon-BotW_Stables:before {
  content: "\e91b";
}
.icon-BotW_Treasure-Chest:before {
  content: "\e91c";
}
.icon-BotW_Village:before {
  content: "\e91d";
}
.icon-BotW_Bomb:before {
  content: "\e91e";
}
.icon-BotW_Weapons:before {
  content: "\e91f";
}
.icon-pencil:before {
  content: "\e920";
}
.icon-BotW_Book:before {
  content: "\e921";
}
.icon-BotW_Cooking_Pot:before {
  content: "\e922";
}
.icon-BotW_Goddess_Statue:before {
  content: "\e923";
}
.icon-BotW_Hinox:before {
  content: "\e924";
}
.icon-BotW_Lynel:before {
  content: "\e925";
}
.icon-BotW_Wizzrobe:before {
  content: "\e926";
}
.icon-search:before {
  content: "\e986";
}
.icon-shrink:before {
  content: "\e98c";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkbox-unchecked:before {
  content: "\ea11";
}
.icon-checkbox-checked2:before {
  content: "\ea52";
}
.icon-checkbox-unchecked2:before {
  content: "\ea53";
}
.icon-fa-user:before {
  content: "\f007";
}
.icon-fa-lock:before {
  content: "\f023";
}
.icon-go:before {
  content: "\f08b";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-fa-envelope:before {
  content: "\f0e0";
}
.icon-General_House:before {
  content: "\e92d";
}
.icon-General_Compass:before {
  content: "\e94a";
}
.icon-General_Info:before {
  content: "\ea0c";
}
.icon-embed2:before {
  content: "\ea80";
}
