/* Web fonts */

@font-face {
    font-family: 'BrandonText';
    font-weight: 300;
    src: url('fonts/brandon/265406_1_0.eot');
    src: url('fonts/brandon/265406_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/brandon/265406_1_0.woff') format('woff'),url('fonts/brandon/265406_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'BrandonText';
    font-weight: 300;
    font-style: italic;
    src: url('fonts/brandon/265406_0_0.eot');
    src: url('fonts/brandon/265406_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/brandon/265406_0_0.woff') format('woff'),url('fonts/brandon/265406_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'BrandonText';
    font-weight: 400;
    src: url('fonts/brandon/264CA8_2_0.eot');
    src: url('fonts/brandon/264CA8_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/brandon/264CA8_2_0.woff') format('woff'),url('fonts/brandon/264CA8_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'BrandonText';
    font-weight: 400;
    font-style: italic;
    src: url('fonts/brandon/264CA8_1_0.eot');
    src: url('fonts/brandon/264CA8_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/brandon/264CA8_1_0.woff') format('woff'),url('fonts/brandon/264CA8_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'BrandonText';
    font-weight: 500;
    src: url('fonts/brandon/265406_2_0.eot');
    src: url('fonts/brandon/265406_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/brandon/265406_2_0.woff') format('woff'),url('fonts/brandon/265406_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'BrandonText';
    font-weight: 500;
    font-style: italic;
    src: url('fonts/brandon/265406_3_0.eot');
    src: url('fonts/brandon/265406_3_0.eot?#iefix') format('embedded-opentype'),url('fonts/brandon/265406_3_0.woff') format('woff'),url('fonts/brandon/265406_3_0.ttf') format('truetype');
}

@font-face {
    font-family: 'BrandonText';
    font-weight: 600;
    src: url('fonts/brandon/264CA8_0_0.eot');
    src: url('fonts/brandon/264CA8_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/brandon/264CA8_0_0.woff') format('woff'),url('fonts/brandon/264CA8_0_0.ttf') format('truetype');
}

@font-face {
	font-family: HyliaSerif;
	src: url("fonts/HyliaSerifBeta-Regular.otf") format("opentype");
}


/* Global Attributes */

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

html,
body,
#map {
	height: 100vh;
	width: 100vw;
	background-color: #565656;
	overflow: hidden;
	position: fixed;
    font-family: "BrandonText", sans-serif;
}

.relativeContainer {
	position: relative;
}

.highlight {
	background-color: rgba(255, 173, 71, .5)
}

/* Bad attempt at applying the new bg tile, reenable later

.leaflet-tile-container {
	background-color: #565656;
	background-image: url(images/zmaps-bg-tile.png);
	background-size: 256px;
}
*/

/* Toast Notification Styling */

#toast-container {
	width: 450px !important;
	padding: 16px !important;
}

@media only screen and (max-width: 600px) {
	/* Mobile sizing */
	#toast-container {
		width: 100vw !important;
		padding: 72px 10px 10px 10px !important;
	}
}

#toast-container.toast-bottom-full-width>div,
#toast-container.toast-top-full-width>div {
	width: 100% !important;
}

#toast-container>.toast-info {
	width: 100% !important;
	padding: 16px !important;
	border-radius: 4px;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background-image: none !important;
	opacity: 0.9 !important;
	text-shadow: rgba(0,0,0,.5) 0 0 24px;
}

#toast-container>.toast-info:hover {
	opacity: 1 !important;
	box-shadow: 0 0 12px #999 !important;
}

.toast-title {
	font-size: 18px;
	margin-bottom: 8px;
	font-weight: 500;
}

/* Icon Styles */

[class^="icon-"],
[class*=" icon-"] {
	vertical-align: middle;
	text-align: center;
}

.full-icon-space-container {
	padding: 0px;
}

.button.full-icon-space {
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 40px;
}

.circle {
	width: 64px;
	height: 64px;
	border-radius: 64px;
	line-height: 64px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	color: white;
}

.circleMap {
	width: 23px !important;
	height: 23px !important;
	line-height: 22px !important;
}

.icnText {
	font-size: 16px;
}

.circleMap-medium {
	width: 23px !important;
	height: 23px !important;
	line-height: 22px !important;
   box-shadow: rgba(0,0,0,.25) 0 2px 6px !important;
}

.icnText-medium {
	font-size: 15px;
}

.circleMap-small {
	width: 16px !important;
	height: 16px !important;
	line-height: 14px !important;
   box-shadow: rgba(0,0,0,.25) 0 2px 6px !important;
}

.icnText-small {
	font-size: 10px;
}

.icon-checkmark {
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.completeMarker {
	position: absolute !important;
	color: gold !important;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.completeMarker-Medium {
	font-size: 18px !important;
	left: 10px;
	top: 10px;
}

.completeMarker-Small {
	font-size: 10px !important;
	left: 8px;
	top: 10px;
}


/* Category Selection List */

.category-selection-list {
	margin-top: 0px;
	padding: 12px 8px 0 8px;
}

.category-selector {
	display: inline-block;
	vertical-align: top;
}

.category-selection-list>.category-selector>.category-button>.label {
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
	line-height: 100%;
	font-weight: 400;
	opacity: inherit;
	color: rgba(255,255,255,.8);
	display: block;
	padding: inherit;
	font-weight: inherit;
	white-space: inherit;
	padding: 0 4px;
	display: block;
}

.category-selection-list>.category-selector>.category-button {
	text-decoration: none;
}

.category-selection-list {
}

.category-selector {
	width: 25%;
	text-align: center;
}

.category-selector:nth-of-type(7)::after {
	display: block;
	content: " ";
	height: 8px;
}

.category-button.toggledOn {
	opacity: 1;
}

.category-button.toggledOff {
	opacity: 0.35;
}

.category-icon {
	position: relative;
	font-size: 36px;
}

.icon-background {
	color: white;
}

.category-button.toggledOn>.label>.completed-label-hide {
	display: inherit;
}

.category-button.toggledOff>.label>.completed-label-hide {
	display: none;
}

.category-button.toggledOn>.label>.completed-label-show {
	display: none;
}

.category-button.toggledOff>.label>.completed-label-show {
	display: inherit;
}

.main-content>p {}

.leaflet-control-layers-expanded {
	padding: 0;
	overflow: hidden;
}

.leaflet-control-layers-separator,
[class $="-separator"] {
	margin: 0;
}

.main-content {
	clear: both;
	overflow-y: scroll;
	overflow-x: hidden;
}

.main-content .icon-close2 {
	position: sticky;
}

.leaflet-control-layers-toggle {
	background-image: url('images/zmaps_white_small.png') !important;
   background-size: 26px 26px;
	width: 36px;
	height: 36px;
}


/*** SEARCH CONTENT ***/

.menu-cat-content-inner .leaflet-control-layers-separator,
[class $="-separator"] {
	margin: 0px;
}

.menu-cat-content-inner .no-results {
	text-align: center;
	padding: 10px;
	margin-left: 20px;
    font-family: "BrandonText", sans-serif;
	color: #c3c3c3;
}

.marker-list {
	margin: 0px;
	padding: 0px;
}

.marker-list-view .results .header {
	position: sticky;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 2;
	text-align: center;
	font-style: italic;
	color: #c3c3c3;
	padding: 8px 0px;
	font-size: 13px;
}

.marker-list-entry {
	display: block;
	height: 84px;
	padding: 10px 10px;
	white-space: nowrap;
	cursor: alias;
}

.marker-list-entry:hover {
	background-color: #dbdcba4a;
}

.marker-list-entry:active {
	background-color: #ffffff73;
}

.marker-list-entry .icon {
	display: inline-block;
	vertical-align: top;
}

.marker-list-entry .details {
	display: inline-block;
	height: 100%;
	/* Maybe find a better way to do this without calc? Does it require the parent to have a fixed width? I was tying to avoid that randomly. Maybe try to propagate the larger drawer node's width, if it is not already present somewhow. */
	width: calc(100% - 74px);
	margin-left: 10px;
	white-space: normal;
	overflow-y: hidden;
}

.marker-list-entry .searchScore {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.marker-list-entry .icon .searchScore {
	left: 0px;
}

.marker-list-entry .details .searchScore {
	font-family: "BrandonText", sans-serif;
	color: #c3c3c3;
}

.searchScore .progress-bar-container {
	border: 1px solid white;
	background-color: rgba(0, 0, 0, 1);
}

.searchScore .progress-bar-filler {
	height: 3px;
	background-color: #1fff1e;
}

.marker-list-entry .name {
	display: block;
	height: 25%;
	margin-bottom: 5px;
	font-size: 14px;
}

.marker-list-entry .description {
	display: block;
	height: 75%;
	font-size: 12px;
}


/*** MARKER CONTENT ***/

.menu-cat-content-inner {
	min-width: 360px;
}

.menu-cat-content-inner p {
	padding: 0 16px;
	font-size: 14px;
}

.menu-cat-content-inner form {
	padding: 16px 24px 24px 24px;
}

.popupTitle {
	font-family: HyliaSerif;
	font-size: 32px;
	text-align: center;
	font-weight: normal;
}

.popupContent div img {
	max-width: 400px;
	height: auto;
}

.popupContent .icon-checkbox-checked,
.popupContent .icon-checkbox-unchecked,
.popupContent .fa-link  {
	margin-right: 6px !important;
}

.popupContent .icon-checkbox-checked,
.popupContent .icon-checkbox-unchecked {
	position: relative;
	top: -3px;
}

a.button {
	padding: 0px;
	border: none;
	text-align: center;
	width: 18px;
	height: 14px;
    font-family: "BrandonText", sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
}

a.button:hover {
	color: white;
}

a.icon-shrink {}

a.icon-close {
	float: right;
	padding: 5px 5px 0 0;
}

a.icon-close2 {
	position: absolute;
	float: right;
	top: 7px;
	right: 12px;
	z-index: 10;
	transform: scale(1.5);
}

.back-button {
	height: initial;
	float: left;
	position: sticky;
	margin-top: 3px;
	margin-left: 5px;
	z-index: 100;
	font-size: 21px;
}

.infoWindowIcn {
	cursor: pointer;
	margin-left: 5px;
	text-align: center;
	font-size: 17px;
	font-family: "BrandonText" !important;
	display: block;
	padding: 8px;
	margin: 0 16px 8px 16px;
	background: rgba(255,255,255,.2);
	border-radius: 10px;
	border: 0;
}

.infoWindowIcn:first-of-type {
	margin-top: 32px;
}

.infoWindowIcn:last-of-type {
	margin-bottom: 16px;
}

.infoWindowIcn:hover {
	background: rgba(255,255,255,.3);
}


/** CONTROLS **/

.leaflet-top {
	bottom: 0;
}

.leaflet-control-layers,
.leaflet-control {
	background-color: rgba(0, 0, 0, .8);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border-radius: 16px;
	box-shadow: 0 16px 32px rgba(0, 0, 0, .6) !important;
	color: white;
	z-index: 1000;
	border: none !important;
}

@media not all and (min-resolution:.001dpcm) {
	@supports (-webkit-appearance:none) and (stroke-color:transparent) {
		/* Safari enhancements */
		.leaflet-control-layers,
		.leaflet-control {
			background-color: rgba(0, 0, 0, .7);
		}
	}
}

.leaflet-control-layers-separator,
[class $="-separator"] {
	height: 1px;
}

[class $="-separator"] {
	border-top: 1px solid rgba(255,255,255,.2);
}

.leaflet-control .highlighted {
	background-color: rgba(255,255,255,.2);
}

 ::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	/* background: #f2f2f2;
    */
}

 ::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background: #777;
}

.main-content h3 {}

.leaflet-bottom {}

.leaflet-control-attribution {
	display: none;
}

.leaflet-control-layers-scrollbar {
	height: 100px !important;
}

.infobox {
	z-index: 500;
	clear: none;
}

.infobox .column {
	float: left;
}


/* Clear floats after the columns */

.infobox .column:after {
	content: "";
	display: table;
	clear: both;
}

.infobox .row.header {
	text-align: center;
}

.infobox .row {
	margin: 5px 10px;
}

.infobox .row .value {
	float: right;
	text-align: right;
	width: 65px;
}

.infobox.location.bounds .column:first-child {
	border-right: 1px solid rgba(221, 221, 221, 0.2);
}

.infobox.location.bounds .column:last-child {
	border-left: 1px solid rgba(221, 221, 221, 0.2);
}

.infobox.location.bounds .action-group {
	position: absolute;
	right: 10px;
	top: 5px;
}

.action-group a {
	margin-left: 5px;
}

.copy.text-area {
	position: absolute;
	left: -10000px;
	top: -10000px;
	z-index: -10000px;
}


/*** BOTTOM **/

.grabber {
	width: 36px;
	height: 5px;
	background: rgba(255, 255, 255, .2);
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -18px;
	border-radius: 100px;
}

.bottommenu span.infoWindowIcn {
	font-size: 16px;
	margin-left: 10px;
}

.bottommenu::-webkit-scrollbar {
	background: transparent;
}

.bottommenu {
	-webkit-overflow-scrolling: touch;
	width: 100%;
}

.bottommenu::-webkit-scrollbar {
	background: transparent;
	width: 0px;
	height: 7px;
}

.bottommenu::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background: transparent;
}


/** FADE IN **/

.leaflet-marker-icon,
.leaflet-marker-shadow {
	-webkit-animation: fadein 0.3s;
	/* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 0.3s;
	/* Firefox < 16 */
	-ms-animation: fadein 0.3s;
	/* Internet Explorer */
	-o-animation: fadein 0.3s;
	/* Opera < 12.1 */
	animation: fadein 0.3s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


/* Firefox < 16 */

@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


/* Internet Explorer */

@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


/* Opera < 12.1 */

@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


/* Controls */

.mobile-header-bar {
	background-color: rgba(0, 0, 0, .8);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border-radius: 100px !important;
	box-shadow: 0 16px 32px rgba(0, 0, 0, .6) !important;
	color: white;
	float: none;
	margin-right: 10px;
	margin-top: max(10px, env(safe-area-inset-top)) !important;
	overflow: hidden;
	height: 44px;
}

@media not all and (min-resolution:.001dpcm) {
	@supports (-webkit-appearance:none) and (stroke-color:transparent) {
		/* Safari enhancements */
		.mobile-header-bar {
			background-color: rgba(0, 0, 0, .7);
		}
	}
}

.mobile-header-bar .full-icon-space-container,
.mobile-header-bar .full-icon-space {
	height: 44px !important;
	line-height: 44px !important;
}

.mobile-header-bar .row-header,
.mobile-header-bar .col-xs-10,
.mobile-header-bar #marker-search {
	height: 44px !important;
}

.mobile-header-bar .glyphicon-search {
	top: -0.5px !important;
}

.mobile-header-bar>.row {
	margin-left: 0;
	margin-right: 0;
}

.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.leaflet-touch .leaflet-control-zoom-in {
	margin-bottom: 0;
	border-radius: 4px;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
}

.leaflet-touch .leaflet-control-zoom-out {
	border-radius: 4px;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
}

.leaflet-bar {
	border-radius: 100px;
	background: none;
}

.leaflet-bar a:first-child {
	border-top-left-radius: 100px !important;
	border-top-right-radius: 100px !important;
	border-bottom: 1px solid rgba(255,255,255,.2);
}

.leaflet-bar a:last-child {
	border-bottom-left-radius: 100px !important;
	border-bottom-right-radius: 100px !important;
	border-bottom: 0;
}

.leaflet-control-zoom {
	border: 0px !important;
	border-radius: 100px;
}

.leaflet-bar a {
	background-color: rgba(0, 0, 0, .8);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	color: rgba(255,255,255,.8) !important;
	border-bottom: 0;
	position: relative;
}

@media not all and (min-resolution:.001dpcm) {
	@supports (-webkit-appearance:none) and (stroke-color:transparent) {
		/* Safari enhancements */
		.leaflet-bar a {
			background-color: rgba(0, 0, 0, .7);
		}
	}
}

.leaflet-bar a:hover {
	color: #fff !important;
	background-color: rgba(50,50,50,.8) !important;
}

.leaflet-bar a:hover:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff !important;
}

.modal-footer {
	border: 0;
	padding: 0;
	text-align: center;
}

.modal-footer div {
	margin: -8px;
}

.modal-footer .infoWindowIcn {
	width: calc(100% - 32px);
}


/**** ADS ***/

#mobileAds {
	position: absolute !important;
	z-index: 500 !important;
	bottom: 160px !important;
	left: 12px !important;
	right: 12px !important;
	height: 50px !important;
	width: 100% !important;

    min-width:300px !important;
	max-width:450px !important;
}

#desktopAds {
	position: absolute;
	z-index: 500;
	bottom: 10px;
	height: 90px;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	width: 728px;
}

@media only screen and (max-width: 728px) {
  #desktopAds { width: 468px; height: 60px; }
}
@media only screen and (max-width: 468px) {
  #desktopAds { width: 234px; height: 60px; }
}

@media (min-width: 3840px) {
   .infeed {
      height: 90px;
   }
}
@media (min-width: 728px) {
   .infeed {
      height: 90px;
   }
}
@media (min-width: 468px) {
   .infeed {
      height: 60px;
   }
}
@media (min-width: 234px) {
   .infeed {
      height: 60px;
   }
}

/*** General Drawer Stuff ***/

.row.vertical-divider {
	overflow: hidden;
}

.row.vertical-divider>div[class^="col-"] {
	text-align: center;
	height: 40px;
	padding: 0 0 0 5px;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
}

.row.vertical-divider div[class^="col-"]:first-child {
	border-left: none;
	border-right: 1px solid rgba(255, 255, 255, .2);
}

.row.vertical-divider div[class^="col-"]:last-child {
	border-right: none;
	border-left: 1px solid rgba(255, 255, 255, .2);
}

/* Drawer Header Stuff */

.row-header, #marker-search {
	font-family: "BrandonText", sans-serif;
	font-size: 16px;
	height: 40px;
}

#marker-search::-webkit-input-placeholder {
	font-style: italic;
	color: rgba(255,255,255,.5);
}

#marker-search::-moz-placeholder {
	font-style: italic;
	color: rgba(255,255,255,.5);
}

#marker-search:-ms-input-placeholder {
	font-style: italic;
	color: rgba(255,255,255,.5);
}

#marker-search:-moz-placeholder {
	font-style: italic;
	color: rgba(255,255,255,.5);
}

.leaflet-control-layers-list .row {
	margin-left: 0px;
	margin-right: 0px;
}

.marker-search {
	background-color: inherit;
	border: 0;
	color: #c3c3c3;
	padding-left: 16px;
}

.glyphicon-search {
	color: #c3c3c3;
	font-size: 16px !important;
	line-height: 25px !important;
}

.marker-search:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

header.ex1 {
	height: 99px !important;
}

.logo {
	float: none;
	box-sizing: content-box;
	text-align: left;
	height: 66px !important;
	padding: 17px 0px 17px 12px!important;
    margin-left: 0;
	margin-right: 0;
}

.completed-button {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	padding: 10px 4px 0 0;
	float: right;
	height: 100%;
	width: 110px;
	box-sizing: border-box !important;
	text-decoration: none !important;
	transition: .2s;
	/*opacity: 1 !important;*/
}

.completed-button .label,
.completed-button:hover .label {
	font-size: 12px;
	font-weight: 400 !important;
	text-decoration: none !important;
	display: block;
	padding-top: 6px;
	box-sizing: border-box;
	color: rgba(255,255,255,.8)
}

.completed-button.toggledOff .label {
	color: rgba(255,255,255,.4);
}

.completed-button .icon-checkmark {
	border-size: 1px;
}

.completed-button .icon-checkmark:before {
	top: -2px;
	position: relative;
}

.completed-button.toggledOff .icon-checkmark {
	color: rgba(255,255,255,.3);
	border: 2px dashed rgba(255,255,255,.3);
	transition: .2s;
}

.completed-button.toggledOn .icon-checkmark {
	color: rgba(255,255,255,.8);
	border: 2px solid rgba(255,255,255,.8);
	transition: .2s;
}

.progress-bar-filler {
	width: 0%;
	height: 2px;
	background-color: rgba(255,255,255,.2);
}

.search-box .progress-bar-container {
	padding-top: 28px;
	padding-left: 28px;
}

.input-group .icon-addon .form-control {
	border-radius: 0;
}

.icon-addon {
	position: relative;
	color: #555;
	display: block;
}

.icon-addon:after,
.icon-addon:before {
	display: table;
	content: " ";
}

.icon-addon:after {
	clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
	position: absolute;
	z-index: 2;
	left: 10px;
	font-size: 14px;
	width: 20px;
	margin-left: -2.5px;
	text-align: center;
	padding: 10px 0;
	top: 1px
}

.icon-addon.addon-lg .form-control {
	line-height: 1.33;
	height: 46px;
	font-size: 18px;
	padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
	height: 30px;
	padding: 5px 10px 5px 32px;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
	font-size: 18px;
	margin-left: 0;
	left: 11px;
	top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
	padding-left: 30px;
	float: left;
	font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
	margin-left: 0;
	font-size: 14px;
	left: 5px;
	top: -2px
}

.icon-addon .form-control:focus+.glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus+.fa,
.icon-addon:hover .fa {
	color: white;
}


.basemaps {
    background-color: transparent !important;
    -webkit-backdrop-filter: none;
    backdrop-filter: none !important;
    border-radius: none !important;
    box-shadow: none !important;
}

.basemap img {
   border: 2px solid rgba(255,255,255,.8);
}
.basemap {
   vertical-align: top;
}
.basemap p {
   text-shadow: 0px 0px 10px #000000;
}

.category-selection-list .infoWindowIcn {
   margin-top: 0px;
}

.category-selection-list .infoWindowIcn {
   margin-top: 0px;
   text-decoration: none !important;
}


@media screen and (max-width: 300px) {
  body {
     background-color: lightblue;
  }
}

@media screen and (max-width: 300px) {
  body {
     background-color: lightblue;
  }
}


@media only screen and (max-width: 728px) {
  .basemaps { top: 60px !important; }
  .basemaps.leaflet-control { margin-left: 10px !important; }
}


.game-selection-list {
   margin-top: 20px;
}   
.maps-selector {
   width: 50% !important;
   border-radius: 10px;
}

.maps-selector>a>img {
   border-radius: 10px;
}

.menu-header-button {
    width:86px;    
}

.completed-button.toggledOff {
   opacity: 1;
}
.completed-button.toggledOff .category-icon {
    color: rgba(255,255,255,.3);
    border: 2px solid rgba(255,255,255,.3);
    transition: .2s;
}

@media only screen and (min-width: 769px) {
   .completed-button.toggledOff:hover {
      /*opacity: .8;*/
   }

   .completed-button.toggledOff:hover .category-icon {
       background-color: rgba(74, 146, 228, .7);
       border-color: rgba(74, 146, 228, .7);
       color: rgb(255,255,255);
       border: 2px !important;
   }
}

.completed-button.toggledOn .category-icon {
    background-color: rgb(74, 146, 228);
    border-color: rgb(74, 146, 228);
    transition: .2s;
}

@media only screen and (min-width: 769px) {
   .completed-button.toggledOff:hover .icon-General_Map {
       background-color: rgba(255, 0, 0, .7);
       border-color: rgba(255, 0, 0, .7);
       color: rgb(255,255,255);
       border: 2px !important;
   }
}
.completed-button.toggledOff .icon-General_Map {
   /*
    color: rgba(255,255,255,.3) !important;
    border: 2px dashed rgba(255,255,255,.3) !important;
    color: rgb(255,255,255);
    transition: .2s;*/
}

.completed-button.toggledOn .icon-General_Map {
    background-color: red !important;
    border-color: red !important;
    transition: .2s;
}


.infobox.clickhist .row .value {
   width: auto;
   margin-left: 5px;
   margin-right: 5px;
}


#help>#accordion {
   margin-left: 15px;
   margin-right: 15px;
}

#help a {
    color: #ffffff !important;
}

#help a:hover, #help a:visited, #help a:link, #help a:active {
    text-decoration: none;
}


#help .panel-heading {
   background: rgba(255,255,255,.2);
}
    
#help .panel-body {
    background: rgba(255,255,255,.4);
}

#help .panel-default {
   background: rgba(0,0,0,1);
   border-color: #000;
}

#help .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #000;
}

.leaflet-disabled {
    background-color: rgba(50,50,50,.8) !important;
}


.TotK-label {
	color: #f8efae;
    text-shadow: #977f41 0px 0px 3px,   #977f41 0px 0px 3px,   #977f41 0px 0px 3px,
                 #977f41 0px 0px 3px,   #977f41 0px 0px 3px,   #977f41 0px 0px 3px;
    background-color: transparent;
    box-shadow: none;
    border: 0px;
    font-size: 24px;
	text-align: center;
	line-height: 0.7;
}

.leaflet-tooltip-pane {
	z-index: 400;
}